$font-family1: "Roboto";
$font-family2: "Raleway";
$font400: 400;
$font500: 500;
$font600:600;
$font700: 700;
$font900: 900;
$colorblack:#212121;
$colorblue: #2196F3;
$colorwhite: #FFFFFF;
$colordarkerwhite:#F5F5F5;
$fontsize:26px;
$fontsize14:14px;
$fontsize16:16px;
$semiblack:#2F303A;
$invisible:none;
$fontsize36:36px;
$sortblack:#F5F4FA;